body {
  margin: 0px;
  font-family: Montserrat;
  background-color: #fafafa;
}

.inline_img  {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  padding: 15px;
  margin-top: 30px;
  background-color: white;
  border-color: rgb(220, 220, 220);
  border-style: solid;
  transform: rotate(-4deg);

  img {
    width: 100%;
  }
}

.cite {
  font-style: italic;
  color: grey;
}

.whyUs {
  display: inline-block;
  width: 50%;
  margin-left: 3%;
}

.navbar {
  width: 100%;
  padding: 1.5rem;
  background-color: black;
  position: fixed;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Julius Sans One', sans-serif !important;
  font-weight: 700;
  z-index: 8;

  .nav_container {
    display: inline-block;
  }

  #home {
    padding-right: 15%;
  }
  #menu {
    display: none;
  }
  .expand{
    display: none;
    border: none;
    float: right;
    color: white;
  }

  @media (max-width: 800px) {
    .nav_container {
      display: block;
      text-align: left;

      #home {
        text-align: left;
        display: inline-block;
      }
      .expand {
        display: inline-block;
        font-size: 1rem;
        border-radius: 0.1rem;
        padding: 0.5rem;
        cursor: pointer;
      }
    }
    #menu:checked + #others {
      display: block;
    }

    #menu:not(checked) + #others {
      display: none;
    }

    #button1, #button2, #button3{
      font-size: 1rem;
      display: block;
    }
    #welcome {
      text-align: left;
    }
  }

  .navbar_button {
    font-family: 'Julius Sans One', sans-serif;
    cursor: pointer;
    border-radius: 0.1rem;
    margin-right: 2.5rem;
    padding-top:: 0.31rem;
    padding-bottom: 0.31rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
  }

  .navbar_button:hover {
    color: rgb(220, 220, 220);
  }
}


header {
  position: relative;
  background-color: white;
  padding-top: 3rem;
  img {
    width: 100%;
  }
  .carousel {
    display: none;
  }

  .cAnimation {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top:42%;
    width: auto;
    padding: 1rem;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    border-radius: 0 3px 3px 0;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.contact_bg {
  width: 100%;
  img {
    width: 100%;
  }
}


#section_1_div1 {
  background: url('assets/aboutUsBg.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0;
}

#section_1_div2 {
  opacity: 0;
  text-align: center;
  padding-bottom: 30px;
}


#section_2 {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 40px;
}

#section_3 {
  background-color: rgb(245, 250, 250);
  padding-top: 60px;
  padding-bottom: 85px;

  @media (max-width: 800px) {
    #eventMap {
      width: 60% !important;
      margin-right: 0px !important;
    }
  }

  #eventMap {
    margin-top: 10px;
    width: 33%;
    padding: 10px;
    border: 1.5px solid rgb(220, 220, 220);
    display: inline-block;
    margin-right: 30px;
    background-color: white;
  }

  #eventDes {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  #bookButton {
  //  font-family: 'Julius Sans One', sans-serif;
    cursor: pointer;
    border: none;
    font-size: 2rem;
    padding: 5px 30px;
    background-color: rgb(225, 242, 247);
  }

  #bookButton:hover {
    background-color: rgb(191, 225, 240);
    color: white;
  }
}

#section_4 {
  padding-top: 30px;
  background-color: white;
  #keyBg {
    background: url("assets/key.jpg");
    background-position: right;
    background-repeat: no-repeat;
  }
}

section {
  display: block;
  text-align: center;
  width: 100%;

  .aboutUs {
    text-align: center;
    display: inline-block;
    width: 50%;
    color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 30%;
    vertical-align: top
  }

  .title {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.7rem;
    margin: 1.5rem 10% 1.2rem 10%;
    line-height: 2.7rem;
  }

  .emphasize {
    font-family: 'Waiting for the Sunrise', cursive;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .subtitle {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
  }

  .section_img_container {
    column-count: 3;
    padding-top: 18px;
    padding-bottom: 1%;
    padding-left: 20%;
    padding-right: 20%;
    column-gap: 0rem;
    vertical-align: middle;

    .modal {
      cursor: pointer;
      display: block;
      vertical-align: center;
      position: relative;
      .small_img {
        padding: 4%;
        width: 88%;
      }
      .yourScenarios {
        padding: 4%;
        width: 88%;
      }
      .small_img:hover {
        opacity: 0.7
      }
    }

  }

  .video_container {
    background-color: #F8E0F1;
    z-index: 0;
  }

  #fixed_background {
    height: 400px;
    overflow-y: hidden;
    -ms-overflow-style: none;
    img {
      width: 100%;
      margin-bottom: 76px;
    }
    #contactEnd {
      padding-bottom: 120px;
    }
  }

  #fixed_background::-webkit-scrollbar {
    display: none;
  }

  .bigger {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1rem;
  }

  p {
    color: black;
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}


.modal_content {
  z-index: 10;
  position: fixed;
  display: none;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  text-align: left;

  .content_container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25%;
    transform: translate(-50%, -50%);
    border: 1.1px solid #888;
    background: white;
    padding: 2%;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;

    .close_button {
      font-family: 'Julius Sans One', sans-serif !important;
      cursor: pointer;
      width: 20%;
      border-radius: 0.6rem;
      padding-top: 1.5%;
      padding-bottom: 1.5%;
      padding-left: 5%;
      padding-right: 5%;
      background: rgb(150, 190, 190);
      color: white;
      font-weight: 550;
    }
  }
  @media (max-width: 800px) {
    .content_container {
        width: 75%;
        padding: 3%;
    }
  }
}


video {
  width: 70%;
  display: block;
  margin: auto;
  padding: 3.5%;
}


audio {
  display: none;
}


footer {
  padding-top: 20px;
  height: 85px;
  background-color: black;
  text-align: center;
  .footer_container {
    display: block;
    margin: auto;
    color: white;
    font-family: Montserrat;
    h1 {
      font-weight: 510;
      font-size: 25px;
    }
    p {
      font-weight: 300;
      font-size: 18px;
    }
  }
}



.social_icon {
  cursor: pointer;
  margin: 0rem 0.3rem;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  border: 1.9px solid white;
  border-radius: 50%;
  line-height: 2rem;
  font-size: 18px;
  background: black;
  color: white;
}


.social_icon:hover {
  background: white;
  color: black;
}

.contact_icon {
  display: inline-block;
  font-size: 1.3rem;
  color: black;
  margin-right: 10px;
}
